div.pLeft
		div.p-l
			a.sheji.css36b77b299f49f8d4211381b7aedfd167(href='/jiu') 设
	div.pRight
		div.p-r
			a.sheying.css36b77b299f49f8d4211381b7aedfd167(href='/listY') 影
block js
	script(src='javascripts/photo.js')