extends layout
extends index
block content
	nav.left
		ul.nav
			li
				div.ui Resume
				i.icon-right
				div.word 我的简历
				a(href='/r') sss
			li 
				div.ui Photo
				i.icon-right
				div.word 相册
			li 
				div.ui Music
				i.icon-right
				div.word 音乐播放器
			li 
				div.ui Other
				i.icon-right
				div.word 其他
block js
	script(src='javascripts/home.js')