<div class="stage">
	<ul>
		<li class="sBook">
			<img class="p1" src="/images/huace/jiu0-a.jpg" alt="">
		</li>
		<li class="hBook">
			<img src="/images/huace/jiu1-a.jpg" alt="">
			<img src="/images/huace/jiu1-b.jpg" alt="">
		</li>
		<li class="hBook">
			<img src="/images/huace/jiu2-a.jpg" alt="">
			<img src="/images/huace/jiu2-b.jpg" alt="">
		</li>
		<li class="hBook">
			<img src="/images/huace/jiu3-a.jpg" alt="">
			<img src="/images/huace/jiu3-b.jpg" alt="">
		</li>
		<li class="hBook">
			<img src="/images/huace/jiu4-a.jpg" alt="">
			<img src="/images/huace/jiu4-b.jpg" alt="">
		</li>
		<li class="hBook">
			<img src="/images/huace/jiu0-a.jpg" alt="">
			<img src="/images/huace/jiu0-b.jpg" alt="">
		</li>
	</ul>
</div>
<div id="next">aaa</div>