.stage
	ul
		li.sBook
			img.p1(src='/images/huace/jiu0-a.jpg')
		li.hBook
			img(src='/images/huace/jiu1-a.jpg')
			img.p2(src='/images/huace/jiu1-b.jpg')				
		li.hBook
			img(src='/images/huace/jiu2-a.jpg')
			img.p2(src='/images/huace/jiu2-b.jpg')
		li.hBook
			img(src='/images/huace/jiu3-a.jpg')
			img.p2(src='/images/huace/jiu3-b.jpg')
		li.hBook
			img(src='/images/huace/jiu4-a.jpg')
			img.p2(src='/images/huace/jiu4-b.jpg')
		li.hBook
			img(src='/images/huace/jiu0-b.jpg')
			img.p2(src='/images/huace/jiu0-a.jpg')
	#next.uiNext
	#up.uiUp
		span.tip 点击页面翻页-->
audio.ado(controls="controls",autoplay="autoplay",loop="loop") Your browser does not support the audio tag.
	source(src="/mu/jay.ogg",type="audio/ogg")
	source(src="/mu/jay.mp3",type="audio/mpeg")