doctype html
html(lang="ZN")
	head
		<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width ,initial-scale=1.0, user-scalable=no" />
		<link rel="shortcut icon" href="/images/favicon.ico" />
		<link href='http://www.youziku.com/webfont/CSS/36b77b299f49f8d4211381b7aedfd167' rel='stylesheet' type='text/css'/>
		title 岑锦超的个人主页
		link(rel='stylesheet', href='/stylesheets/style.css')
		block css
	body
		block content
		div.span2
			nav.left
				ul(class='nav #{show}')
					li
						a.blockA(href = '/r')
							div.ui Resume
							i.icon-right
							div.word 我的简历
					li
						a.blockA(href = '/p') 
							div.ui Photo
							i.icon-right
							div.word 设影相册
					li
						a.blockA(href = '/r') 
							div.ui Music
							i.icon-right
							div.word Doing
					li
						a.blockA(href = '/r') 
							div.ui Other
							i.icon-right
							div.word Doing
		div.span10
			block resume
			block photo
		block other
		script(src='http://s1.bdstatic.com/r/www/cache/static/jquery/jquery-1.10.2.min_f2fb5194.js')
		block js