ul.web-list
	li
		h3 网页重构与设计
	li
		a(href="/old/black/index.html",target='_blank') 黑色风格（韩文）
	li
		a(href="/old/day_one/index.html",target='_blank') 简单页面
	li
		a(href="/old/green/index.html",target='_blank') 绿色网站
	li
		a(href="/old/red/index.html",target='_blank') 红色风格（韩文）
	li
		a(href="/old/summerFlower/index.html",target='_blank') 圆角练习
	li
		a(href="/old/pinkF/index.html",target='_blank') 粉红色的花
	li
		a(href="/old/black_green/index.html",target='_blank') 企业网站模版（整站）
	li
		a(href="/old/i3v_web/i3v.html",target='_blank') 天琥教育网校设计
.img-list
	h3 画册设计
	a.jiu(href="/jiu")
		img(src='/images/jiu0-a.jpg')