.slid-l
	img.slid-l-2(src='/images/ying/p1.jpg')
	img.slid-l-1(src='/images/ying/p2.jpg')
	img.slid-l-1(src='/images/ying/p3.jpg')
	img.slid-l-1(src='/images/ying/p4.jpg')
	img.slid-l-1(src='/images/ying/p5.jpg')
	img.slid-l-1(src='/images/ying/p6.jpg')
	img.slid-l-1(src='/images/ying/p7.jpg')
	img.slid-l-1(src='/images/ying/p8.jpg')
.slid-r
	.slid-r-1
	.slid-r-2
	.slid-r-3
	.slid-r-4
	.slid-r-5
	.slid-r-6
	.slid-r-7
	.slid-r-8