extends layout
block photo
	.stage
		ul
			li.sBook
				img.p1(src='/images/jiu0-a.jpg')
			li.hBook
				img(src='/images/jiu1-a.jpg')
				img.p2(src='/images/jiu1-b.jpg')				
			li.hBook
				img(src='/images/jiu2-a.jpg')
				img.p3(src='/images/jiu2-b.jpg')
			li.hBook
				img(src='/images/jiu3-a.jpg')
				img.p4(src='/images/jiu3-b.jpg')
			li.hBook
				img(src='/images/jiu4-a.jpg')
				img.p5(src='/images/jiu4-b.jpg')
			li.hBook
				img(src='/images/jiu0-b.jpg')
				img.p1(src='/images/jiu0-a.jpg')

		

		
		
		
		
		#next aaa
block other
	
block js
	script(src='javascripts/photo.js')