extends layout
block css
block photo
	div.pLeft
		div.p-l
			a.sheji.css36b77b299f49f8d4211381b7aedfd167(href='/jiu') 设
	div.pRight
		div.p-r
			a.sheying.css36b77b299f49f8d4211381b7aedfd167(href='/listY') 影
block other
	audio.ado(controls="controls",autoplay="autoplay",loop="loop") Your browser does not support the audio tag.
		source(src="/mu/jay.mp3",type="audio/mpeg")
		source(src="/mu/jay.ogg",type="audio/ogg")
block js
	script(src='javascripts/photo.js')
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
	<script type="text/javascript"> WebFont.load({ custom: { urls: ['http://www.youziku.com/webfont/CSS/36b77b299f49f8d4211381b7aedfd167']}});</script>