extends layout
block css
block photo
	div.jiu.css36b77b299f49f8d4211381b7aedfd167
		a(href='/jiu') 设
	div.pho.css36b77b299f49f8d4211381b7aedfd167
		a(href='/p') 影
block other

block js
	script(src='javascripts/photo.js')