extends layout
block resume
	div.resume
		article.myA
			h2 About Me
			ul
				li
					img(src='/images/tx.jpg')
				li 姓名：
					span 岑锦超
				li 年龄：
					span 22岁
				li 电话：
					span 15915760800
				li 邮箱：
					span 275727449@qq
				li 学校：
					span.long 广东工业大学华立学院
				li 专业：
					span.long 信息管理与信息系统
		article.myB
			h2 Hobby
			ul
				li 
					img(src="/images/icons_06.png")
					|摄影
				li
					img(src="/images/icons_03.png")
					|旅行
				li
					img(src="/images/icons_12.png")
					|篮球
				li
					img(src="/images/icons_09.png")
					|电影
		article.myC
			h2 Programming Skill
			div.c.move C
			div.java.move Java
			div.php.move PHP
			div.linux.move Linux
			div.node.move NodeJs
			div.html.move HTML+CSS
			div.js Javascripts
		article.myD
			h2 Design Skill
			img(src='/images/ds.png',width='90%')
		article.my2012
			h2. Year 2012
			.halfUp
				img(src='/images/diy.jpg')
			.halfDown
				p.tBig DIY协会会长
				p.tLow 校园网管理员
		article.my2013
			h2 Year 2013
			.halfUp
				img(src='/images/sj.jpg')
			.halfDown
				p.tBig 天琥设计培训
				p.tLow 领美地产美工
				p.tNo 微旭前端实习
		article.my2014
			h2 Year 2014
			.halfUp
				img(src='/images/sx.jpg')
			.halfDown
				p.tBig 求职前端实习
block other
block js
	script(src='javascripts/resume.js')