body,a,p,div,h1,ul,li,article,h2,img{
	padding: 0;
	margin: 0;
	border: none;
	list-style: none;
	text-decoration:none;
}
html{
    font-size:62.5%; /* 10÷16=62.5% */
    }
p,a{
	font-size:14px;
	font-size:1.4rem;
}
html,body,.shade{
	width: 100%;
	height: 100%;
}
body {
	position:relative;
	min-width: 860px;
  	font:"Lucida Grande", Helvetica, Arial, sans-serif;
  	background: #999 url(/images/a.jpg) no-repeat fixed center/2200px 100%;
  	font-size:12px;
    font-size:1.2rem ; /* 12÷10=1.2 */
}
a {
  color: #242424;
}
/*-----------*/
.span2{
	max-width: 200px;
	width: 16%;
	height: 100%;
	margin-right: 2%;
}
.span10{
	width: 78%;
	padding: 0 2%;
}
.span2,.span10{
	float: left;
}
/*动画*/
@-webkit-keyframes douDong {
	from {-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);  }
	to { -webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg); }
}
@-o-keyframes douDong {
	from {-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);  }
	to { -webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg); }
}
@-moz-keyframes douDong {
	from {-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);  }
	to { -webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg); }
}
@keyframes douDong {
	from {-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-o-transform: rotate(-20deg);
	transform: rotate(-20deg);  }
	to { -webkit-transform: rotate(20deg);
	-moz-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	transform: rotate(20deg); }
}
.shade,.nav,.icon-right,.word,.resume,
.resume article li,.myC div,.resume article,
.ui,.halfDown p{
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s linear;
	-ms-transition: all 0.4s linear;
	-o-transition: all 0.4s linear;
	transition: all 0.4s linear;
}
/*index

.bookL{
	-webkit-transition: -webkit-transform 0.4s linear;
	-moz-transition: -moz-transform 0.4s linear;
	-ms-transition: -ms-transform 0.4s linear;
	-o-transition: -o-transform 0.4s linear;
	transition: transform 0.4s linear;
}
*/
.shade{
	background-color: #fff;
	position:absolute;
	z-index: 999;
	zoom :1;
}
.shade h1{
	margin: 20px;
	font-family: 'Revalia', cursive;
	font-size: 4rem;
	text-align: center;
}
.enter{
	padding: 60px 0 0; 
	color: #fff;
	margin: 10% auto 0 auto;
	width: 180px;
	height:120px;
	border-radius: 150px;
	background-color: #727272;
	text-align: center;
	line-height: 30px;
}
.shadeTop{
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
/*------------------nav----------------*/
.nav{
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	background-color: rgba(41,147,188,0.3);
	box-shadow: 4px 0 5px rgba(40,40,40,0.5);
}
.left,.nav{
	height:100%;
	position:fixed;
}
.left{
	width: 100%;
}
.left a{
	color: #fff;
}
.nav li{
	position:relative;
	border:20px solid rgba(0,0,0,0);
	width:80px;
	height:80px;
	margin:10px auto;
}
.nav li:first-child{
	border-top:60px solid rgba(0,0,0,0);
	margin-top: 0;
}
.leftShow{
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.ui{
	border: 4px solid rgba(255,255,255,0.4);
	line-height: 72px;
	text-align: center;
	text-shadow:4px 0 5px rgba(40,40,40,0.5);
	font-size: 1.8rem;
	height: 72px;
	width: 72px;
	border-radius: 10px;
	box-shadow: 2px 0 15px rgba(40,40,40,0.5);
	background-color: rgba(39,40,34,.4);
}
.ui:hover{
	background-color: rgba(245,237,198,0.2);
/*
	-webkit-animation: douDong 0.2s  linear 0 infinite alternate;
	-moz-animation: douDong 0.2s  linear 0 infinite alternate;
	-o-animation: douDong 0.2s  linear 0 infinite alternate;
	animation: douDong 0.2s linear 0 infinite alternate;
*/}
.ui:hover + .icon-right{
	margin-left:100px;
	opacity: 1;
}
.ui:hover + .icon-right + .word{
	margin-top: 12px;
	opacity: 1;
}
.word{
	margin: -12px 0 0 0;
	opacity: 0;
	text-align: center;
}
/*-----------------------icon-----------------------*/
.icon-right{
	width:1px; height:1px; background:url(icon.gif) no-repeat center;
	position:absolute;
	opacity: 0;
	background-image:none;
    margin: -40px 0 0 70px;
    border-left: 1px solid rgba(255,255,255,1); 
    box-shadow: 1px 1px rgba(255,255,255,1), 2px 2px rgba(255,255,255,1), 3px 3px rgba(255,255,255,1), 4px 4px rgba(255,255,255,1), 5px 5px rgba(255,255,255,1), 
               -1px 1px rgba(255,255,255,1), -2px 2px rgba(255,255,255,1), -3px 3px rgba(255,255,255,1), -4px 4px rgba(255,255,255,1), -5px 5px rgba(255,255,255,1); 
    -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}
/*-------------------简历--------------*/
.resume,.resume article{
	width:100%;
	text-shadow:2px 2px 8px rgba(222,222,222,0.4);
}
.resume{
	position: relative;
	/*top:-500px;*/
}
.resume h2{
	color: #fff;
	padding: 10px 0 10px 10px;
	box-shadow: 0 2px 4px rgba(94,94,94,.8);
}
.resume article{
	float:left;
	width:23%;
	min-width: 260px;
	margin:20px 1% 20px 1%;
	color:rgba(247,234,196,.8);
	overflow: hidden;
	background-color: rgba(57,75,88,.5);
	height: 430px;
}
.resume h2,.resume ul{
	width:100%;
}
.resume article img{
	margin-right: 40px;
}
.myA img{
	border: 4px solid rgba(255,252,234,.4);
}
.myB img{
	float:left;
}
.myD img{
	margin-left:5%;
	margin-top: 40px;
}
.myB li{
	margin-left: 10%;
	height: 78px;
	line-height: 78px;
}
.myA h2,.myC h2,.my2013 h2{
	background-color:rgba(36,36,36,.5);
}
.myB h2,.myD h2,.my2012 h2,.my2014 h2{
	background-color:rgba(98,98,98,.5);
}
.resume article li{
	padding:10px 0 10px 20px;
	font-size:2rem;
}
.myA .long{
	font-size:1.6rem;
}
.resume article li span{
	margin-left: 2%;
}
.myA:hover,.myC:hover,.my2013:hover{
	background-color: rgba(139,3,3,.5);
}
.myB:hover,.myD:hover,.my2012:hover,.my2014:hover{
	background-color: rgba(118,5,82,.5);
}
.myC{
	position: relative;
	height:422px;
}
.myC div{
	border: 2px solid rgba(255,255,255,0.3);
	background-color: rgba(217,220,193,0.1);
	position: absolute;
	text-align: center;
	font-size: 1.4rem;
}
/*下面部分已经丧心病狂*/
.c,.java,.php{
	height:60px;
	width: 60px;
	border-radius: 30px;
	top:80px;
	left:15%;
	line-height: 60px;
}
.java{
	top:100px;
	left:45%;
}
.php{
	top:300px;
	left:20%;
}
.linux,.node,.html{
	height:80px;
	width: 80px;
	border-radius: 40px;
	top:120px;
	left:12%;
	line-height: 80px;
}
.node{
	top:230px;
	left:25%;
}
.html{
	top:140px;
	left:46%;
}
.js{
	height:100px;
	width: 100px;
	border-radius: 50px;
	top:140px;
	left:24%;
	line-height: 100px;
}
.myC:hover>.php{
	-webkit-transform: translate(10%, 20px);
	-moz-transform: translate(10%, 20px);
	-ms-transform: translate(10%, 20px);
	-o-transform: translate(10%, 20px);
	transform: translate(10%, 20px);
}
.myC:hover>.node{
	-webkit-transform: translate(-10%, 10px);
	-moz-transform: translate(-10%, 10px);
	-ms-transform: translate(-10%, 10px);
	-o-transform: translate(-10%, 10px);
	transform: translate(-10%, 10px);
}
.myC:hover>.html{
	-webkit-transform: translate(25%, -15px);
	-moz-transform: translate(25%, -15px);
	-ms-transform: translate(25%, -15px);
	-o-transform: translate(15%, -15px);
	transform: translate(25%, -15px);
}
.myC:hover>.java{
	-webkit-transform: translate(50%, -50px);
	-moz-transform: translate(50%, -50px);
	-ms-transform: translate(50%, -50px);
	-o-transform: translate(50%, -50px);
	transform: translate(50%, -50px);
}
.myC:hover>.linux{
	-webkit-transform: translate(-20px, 5px);
	-moz-transform: translate(-20px, 5px);
	-ms-transform: translate(-20px, 5px);
	-o-transform: translate(-20px, 5px);
	transform: translate(-20px, 5px);
}
.myC:hover>.c{
	-webkit-transform: translate(-10px, -35px);
	-moz-transform: translate(-10px, -35px);
	-ms-transform: translate(-10px, -35px);
	-o-transform: translate(-10px, -35px);
	transform: translate(-10px, -35px);
}
.myC:hover>.js{
	-webkit-transform: scale(1.5, 1.5);
	-moz-transform: scale(1.5, 1.5);
	-ms-transform: scale(1.5, 1.5);
	-o-transform: scale(1.5, 1.5);
	transform: scale(1.5, 1.5);
}
/***/
.halfUp,.halfDown{
	position: relative;
	width: 100%;
}
.halfUp img{
	margin: 20px 20%;
	border: 2px solid #fff;
	position: absolute;
	width: 60%;
}
.halfDown p{
	font-size:2rem;
	text-align: center;
	padding: 5px 2px;
}
.halfUp{
	height: 60%;
}
.halfDown{
	height: 30%;
}
.halfDown p:hover{
	background-color: rgba(10,201,193,.3);
}
/*-------------------------------------photo------------------------------------*/
.stage,.stage ul{
	margin: 60px auto;
	position:relative;
	width: 100%;
}
.stage ul li img{
	backface-visibility:hidden;
	-webkit-backface-visibility:hidden;	/* Chrome 和 Safari */
	-moz-backface-visibility:hidden; 	/* Firefox */
	-ms-backface-visibility:hidden; 	/* Internet Explorer */
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	width:50%;
}
.stage ul li{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1800px;
    -moz-perspective: 1800px;
    -ms-perspective: 1800px;
    -o-perspective: 1800px;
    perspective: 1800px;
	width:100%;
}
.hBook img:first-child{
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
#next{
	width:100px;
	height:100px;
	background-color: #fff;
}
.sBook{
	position: relative;
}
.hBook{
	position: absolute;
	-webkit-transform: translate(0, -100%);
	-moz-transform: translate(0, -100%);
	-ms-transform: translate(0, -100%);
	-o-transform: translate(0, -100%);
	transform: translate(0, -100%);
}
.hBook img{
	opacity: 0;
}
.p2,.p3,.p4,.p5,.p6{
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	transform-origin: 0 50%;
}
.clear:after {content:'\200B'; display:block; height:0; clear:both;}
.clear{zoom:1;}